*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: snow;
    font-size: 15px;
    font-family:Roboto, sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.15;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1000px;
    left: 0;
    right: 0;
}
#header.section.header{
    border-bottom: 1px solid #a3a3a3;
}
.sidebar{
    float: left;
    width: 25%;
}
.content{
    float: left;
    width: 75%;
}
.one-col .content{
    width: 100%;
}
.three-col .content{
    width: 50%;
}
div {
    float: left;
    margin: 2px 6px;
    padding:1px 4px;
    border-radius: 3px;
    box-sizing: content-box;
}
.anhweb {
    float: left;
    width: 15%;
}
header{
    background-color: white;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 500px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 6px 0 0 6px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: black;
}

.searchButton {
    width: 120px;
    height: 36px;
    border: 3px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 17px;
}
.wrap{
    width: 30%;
    transform: translate(100%);
    margin-top: -50px;

}
.taikhoan{
    width: 130px;
    border: 4px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    font-size: 17px;
    float: right;
    margin-top: -50px;
}
.s1{
    text-decoration:none;
    color:white;
    float: right;
    width: 100%;
}
body {
    position: relative;
    overflow-x: hidden;
    background-color: #CFD8DC;
}


ul li a{ /* màu chữ */
    width: 100%;
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    transition: linear 0.2s;
}
ul li a:hover { /* backgr khi chạm và màu chữ*/
    background: #00B4CC;
    color: white;
}
ul li ul li ul li a:hover { /* backgr khi chạm và màu chữ*/
    background: #00B4CC;
    color: white;
}
nav.section{
    border-bottom: 1px solid #a3a3a3;
}
.button {
    border-radius: 20px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #413f3f;
    color: #413f3f;
    font-size: 15px;
}

.button:hover {
    background: #413f3f;
    color: #ffffff;
    cursor: pointer;
}

.albums {
    float: left;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.album-holder {
    position: relative;
}

.album-image {
    height: 200px;
    width: 200px;
    border-radius: 2px;
    object-fit: cover;
}

.album-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.album-description p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-holder:hover .album-description {
    cursor: pointer;
    opacity: 1;
}

@media only screen and (max-width: 700px) {
    .albums {
        grid-template-columns: 1fr 1fr;
    }

    .heading {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 500px) {
    .albums {
        grid-template-columns: 1fr;
    }

    .heading {
        margin: 30px 0;
    }
}

.slider{
    left: 50%;
    margin-right: 17%;
    position: inherit;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}
.carousel-item img{
    left: 50%;
    position: center;
    transform: translate(10%, -15%);
}




